<div class="container">
    <div class="top-bar">
        <img class="back" src="/arrow-left.svg">
        <p>Hob dating: An iOS dating app.</p>
    </div>
    <div class="header">
        <img class="header-photo" src="/hobdating-mockup.png"/>
        <div class="header-title-column">
            <div class="dummy-title"></div>
            <img class="brand" src="/hob-brand.png"/>
            <h1 class="header-title">Hob dating</h1>
            <h1 class="header-title">A muslim dating app</h1>
            <div class="caption">
                <a class="author-avatar" href="#">
                    <img src="/memoji.jpeg" />
                  </a>
                <p class="header-caption">Made by Riad Mahi</p>
            </div>
        </div>
    </div>

    <section>
        <h1>Introduction</h1>
        <p>Hob Dating is my first significant and personal project developed using the Swift, SwiftUI, and Combine frameworks. As an avid Android enthusiast for many years, I never had the opportunity to create my own SaaS. Therefore, Hob Dating serves as a platform for me to enhance my skills in integrating and developing applications.
        </p>
    </section>

    <section class="right-content-section">
        <img src="/hob-design.png"/>
        <div class="content-right">
            <h1>Design</h1>
            <p>In the highly competitive dating app market, I recognized the critical need for an innovative and aesthetically captivating design to distinguish Hob Dating from the multitude of existing platforms. Leveraging Figma, I crafted a comprehensive UI/UX design that prioritizes user intuition and engagement. Every interface element was thoughtfully designed to ensure a seamless and enjoyable user experience, blending functionality with elegant visual appeal. My dedication to creating a standout application is evident in the polished aesthetics and user-centric features of Hob Dating. This project not only showcases my technical proficiency but also my unwavering passion for design and creation, positioning Hob Dating as a unique and attractive solution in the dynamic landscape of online dating.
            </p>
        </div>
    </section>
</div>