<div class="container">
	<h1 class="section-title">Highlighted Projects</h1>

	<section class="card-list">
	
		<article class="card" [routerLink]="['hobdating']" routerLinkActive="router-link-active">

		  <header class="card-header">
			<p>Oct 26th 2024</p>
			<h2 class="card-link">
				Hob Dating</h2>
			<p>A muslim dating app available on iOS.</p>

		  </header>
		  <div class="card-author">
			<a class="author-avatar" href="#">
			  <img src="/memoji.jpeg" />
			</a>
			<svg class="half-circle" viewBox="0 0 106 57">
			  <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
			</svg>
	
			<div class="author-name">
			  <div class="author-name-prefix">Author</div>
			  Riad Mahi
			</div>
		  </div>
		  <div class="tags">
			<a>Swift</a>
			<a>Swift UI</a>
			<a>Firebase</a>
		  </div>
		</article>
		<article class="card">
		  <header class="card-header">
			<p>Apr 1st 2024</p>
			<h2>Minerva</h2>
			<p>A web app to optimize your fiscal taxs. A real project, from advocates.</p>
		  </header>
	
		  <div class="card-author">
			<a class="author-avatar" href="#">
				<img src="/memoji.jpeg" />
			</a>
			<svg class="half-circle" viewBox="0 0 106 57">
			  <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
			</svg>
	
			<div class="author-name">
			  <div class="author-name-prefix">Author</div>
			  Riad Mahi + 3 Others 
			</div>
		  </div>
		  <div class="tags">
			<a>Angular</a>
			<a>Laravel</a>
			<a>Github CI/CD</a>
			<a>Kubernetes</a>
		  </div>
		</article>
	
	  </section>
</div>